<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Dropbox.Api" version="4.2.4" targetFramework="uap10.0" />
    <package id="Microsoft.Azure.Mobile.Client" version="3.1.0" targetFramework="uap10.0" />
    <package id="Newtonsoft.Json" version="9.0.1" targetFramework="uap10.0" />
    <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="5.0.0" targetFramework="uap10.0" />
    <package id="PCLStorage" version="1.0.2" targetFramework="uap10.0" />
    <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="uap10.0" />
    <package id="WindowsAzure.Storage" version="8.1.0" targetFramework="uap10.0" />
    <package id="Xam.FormsPlugin.CrossPieChart" version="2.1.15" targetFramework="uap10.0" />
    <package id="Xam.Plugins.Settings" version="2.6.0.12-beta" targetFramework="uap10.0" />
    <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="uap10.0" />
</packages>


